#about-body {
    background-color: var(--dark);
    overflow-y: scroll;
}

h1 {
    color: var(--light);
    font-weight: 800;
    font-size: 70pt;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
}

.about-section {
    color: var(--light);
    margin: 5vw;
    font-family: var(--font);
    font-size: 18pt;
}

h2 {
    color: var(--light);
    font-family: var(--font);
    font-weight: 800;
    font-size: 40pt;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    line-height: .8em;
}

.about-section h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-size: 20pt;
}

.about-section p {
    margin: 0px;
    padding: 0px;
}

.experience-list {
    border-bottom: 5px solid var(--dark-mod);
    margin-bottom: 15px;
}


.about-section li {
    list-style-type: none;
    margin: 15px 0px;
}

.about-section strong {
    font-weight: 800;
}


@media only screen and (min-width: 800px) {
    .about-section {
        /* background-color: red; */
        width: 500px;
        margin: auto;
    }
}