:root {
    --background: #141414;
    --hero: #E59500;
    --text: #E5DADA;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 800;
}

#heroiframe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

.heroTitle {
    font-size: 100pt;
    z-index: -2;
    width: 100vw;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    height: 100pt;
}

#heroButtons {
    position: absolute;
}
#heroButtons .custombtn {
    margin: auto;
}


.custombtn {
    width: fit-content;
    cursor: pointer;
    border: 1px solid rgba(1,1,1,0);
    align-content: center;
    display: flex;
    transition: all ease-in 100ms;
    padding: 0px 0px;
}
.custombtn:hover {
    backdrop-filter: blur(5px);
    border-bottom: 5px solid white;
}
.custombtn.left {
    padding-left: 90px;
}
.custombtn.right {
    padding-right: 90px;
}
.custombtn p {
    margin: auto;
    font-family: 'Teko', sans-serif;
    font-size: 30pt;
}