#about-body {
    --dot-size: 3px;
    --dot-space: 100px;

    background: 
        linear-gradient(90deg, var(--dark) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
        linear-gradient(var(--dark) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center, var(--dark-mod);
    background-size: var(--dot-space) var(--dot-space);
    overflow-y: scroll;
}

.text-outline {
    text-shadow: -2px -2px 0 var(--dark-mod), 2px -2px 0 var(--dark-mod), -2px 2px 0 var(--dark-mod), 2px 2px 0 var(--dark-mod);
    color: var(--dark);
}

h1 {
    color: var(--light);
    font-weight: 800;
    font-size: 70pt;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
}

h1.bigger {
    font-size: 75pt;
    position: absolute;
    top: 40pt;
}

.about-section {
    color: var(--light);
    margin: 5vw;
    font-family: var(--font);
    font-size: 18pt;
}

h2 {
    color: var(--light);
    font-family: var(--font);
    font-weight: 800;
    font-size: 40pt;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    line-height: .8em;
}

.about-section h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-size: 20pt;
}

.about-section p {
    margin: 0px;
    padding: 0px;
}

.experience-list {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto auto;
}
.experience-list p {
    padding-top: 15px;
    line-height: 22px;
}


.about-section li {
    list-style-type: none;
    margin: 15px 0px;
}

.about-section strong {
    font-weight: 800;
}

.language-section {
    padding-top: 20px;
}
.language-section span {
    font-size: 14pt;
}

#back-link {
    position: sticky;
    font-family: var(--font);
    color: var(--hero);
    font-weight: 800;
    font-size: 25pt;
    left: 20px;
    top: 20px;
    text-decoration: none;
    z-index: 500;
    text-transform: uppercase;
}

.education {
    display: flex;
    justify-content: space-between;
}
.education h3 {
    font-weight: bold;
}
.education ul {
    padding: 0px;
}
.education li {
    margin: 0px;
    text-align: center;
}


@media only screen and (min-width: 800px) {
    .about-section {
        /* background-color: red; */
        min-width: 500px;
        width: 50vw;
        margin: auto;
    }
}
@media only screen and (min-width: 1000px) {
    .experience-list {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width: 1200px) {
    .experience-list {
        grid-template-columns: auto auto auto auto;
    }
}